// colours

$black             : #000000;
$white             : #ffffff;
$dark-blue         : #002147; //oxford-blue
$blue              : #4f7cac; //cyan-azure 
$light-blue        : #9eefe5; //pale-turquoise
$pale-blue         : #c0e0de; //columbria-blue
$pale-blue-light   : #f0f8ff; 
$dark-green        : #162521; //dark-jungle-green
$grey              : #3c474b; //arsenic
$grey-light        : #b1b5b7;
$blur              : #333333;